@model List<Brand>
@{
    ViewData["Title"] = "Quản lý thương hiệu";
}
<div class="card w-100">
    <div class="card-title bg-primary text-center text-light p-3">
        <h4>QUẢN LÝ THƯƠNG HIỆU</h4>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <a asp-controller="Brand" asp-action="Upsert" class="btn btn-outline-success">Thêm thương hiệu</a>
            <hr />
            <table id="tblData" class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Tên thương hiệu</th>
                        <th>Thông tin</th>
                        <th>Website</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/brand.js"></script>
}