@model Category
@{
    ViewData["Title"] = "Xóa danh mục - " + Model.Name;
}
<form method="post">
    <div class="card border-danger mb-3" style="max-width: 100%;">
        <div class="card-header text-center text-light fs-3 badge bg-danger w-100">Xóa danh mục</div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="form-text mb-3">
                        <input asp-for="Id" hidden />
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text"disabled class="form-control">
                    </div>
                    <div class="form-text mb-3">
                        <label asp-for="DisplayOrder"></label>
                        <input asp-for="DisplayOrder" type="text" disabled class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-danger w-100">Xóa</button>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark w-50">Trở về</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}