html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

    .icon-hover:hover i {
        color: #3b71ca !important;
    }

.offd {
    text-decoration: none;
}
.product-name {
    font-family: Calibri;
    font-size: 14px;
}
.tab-pane img{
    max-width: 100%;
    height: auto;
}
.floating-card-footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa; /* Màu nền */
    padding: 15px;
    border-top: 1px solid #ddd; /* Đường viền phía trên */
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2); /* Đổ bóng phía dưới */
}

.card-1 {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
    .card-1:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }